header {
	margin-bottom: 1%;
	padding: 1%;
	text-align: center;
}

.logo {
	position: absolute;
	top: 1%;
	right: 1%;
}

/*menu de navigation*/
nav {
	display: flex;	  
	justify-content: center;
	margin-bottom: 3%;
}

.nav:after, .nav:before {
	margin-top:0.5em;
	content: "";
	float:left;
	border:1.5em solid #fff;
}
  
.nav:after {
	border-right-color:transparent;
}
  
.nav:before {
	border-left-color:transparent;
}

.nav a:link, .nav a:visited { 
	color:#000;
	text-decoration:none;
	float:left;
	height:3.5em;
	overflow:hidden;
}

.nav span {
	background:#fff;
	display:inline-block;
	line-height:3em;
	padding:0 1em;
	margin-top:0.5em;
	position:relative;
	transition: background-color 0.2s, margin-top 0.2s;
}
  
.nav a:hover span {
	background:#FFD204;
	margin-top:0;
}
  
.nav span:before {
	content: "";
	position:absolute;
	top:3em;
	left:0;
	border-right:0.5em solid #9B8651;
	border-bottom:0.5em solid #fff;
}
  
.nav span:after {
	content: "";
	position:absolute;
	top:3em;
	right:0;
	border-left:0.5em solid #9B8651;
	border-bottom:0.5em solid #fff;
 }


body {
	margin: 0;
	background: url("../image/ashe.png") center fixed;
    background-repeat: no-repeat;
	background-size: cover;
	color : white;
}

/* tout ce qui concerne le formulaire*/
#form 
{
    border: thick solid black;
    margin: 0 auto;
    width: 60%;
    padding: 1%;
	border-radius: 30px;
	background: url("../image/couleur.jpg") center fixed;
	background-repeat: no-repeat;
	background-size: cover;
}

input[type=text], select {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
}

input[type=tel] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
}

input[type=number] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
}

input[type=email] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
}

input[type=text]:focus {
	background-color: lightblue;
}

input[type=tel]:focus {
	background-color: lightblue;
}

input[type=email]:focus {
	background-color: lightblue;
}

.sexe {
	margin-top: 2%;
	margin-bottom: 2%;
}

.note {
	margin-bottom: 3%;
}

#story {
	width: 100%;
	resize: none;
}

.textaera {
	height: 120px;
 }

.bouton {
	display: flex;
	justify-content: right;
}


/* là où il y a les boutons pour changer de style CSS */
footer {
	position: fixed;
	bottom: 0%;
	left: 0%;

}

span {
	box-sizing: inherit;
}

/* la flèche pour remonter */
.fleche {
	width: 75px;
	height: 75px;
}

.remonter{
	position: fixed;
	bottom: 0%;
	right: 0%;
	opacity: 0.15;
}

  .remonter:hover{
	opacity: 0.5;
}

* {
	scroll-behavior: smooth;
 }

/* la police du texte*/
 h3 {
	font-family: Arial, Helvetica, sans-serif;
 }